.header{
  padding: 5px;
  text-align: center;
  background: #F9FFFF;
  color: red;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to right, red, orange, yellow, green, aqua, blue, purple);

}

h2 {
   width: 100%;
   text-align: center;
   border-bottom: 30px solid #000;
   line-height: 0.1em;
   margin: 10px 0 20px;
   font-size: 30px;
}

h2 span {
    background:#d5ff00;
    padding:0 200px;
}

h3{
  font-size: 45px;
}

.module-border-wrap {
  max-width: 100%;
  padding: 1rem;
  position: relative;
  background: linear-gradient(to right, red, orange, yellow, green, aqua, blue, purple);
  padding: 1px;
}

.navbar {
  overflow: hidden;
  background-color: #CEE0D8;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  font-size: 1.5vw;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 2.5px;
  border-image-source: linear-gradient(to right, red, orange, yellow, green, aqua, blue, purple);
  text-shadow: 2px 2px 8px #505050;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}


/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #d5ff00;
  color: black;
}





/* Active/current link */
.navbar a.active {
  background-color:  #00ff9e;
  color: black;
}
.navbar a.about {
  background-color: #666;
  color: blue;

}


body{

background-repeat; no-repeat;
}
@media screen and (max-width: 700px) {
.row {
  flex-direction: column;
}
}

@media screen and (max-width: 400px) {
.navbar a {
  float: none;
  width: 100%;
}
}
